* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.nav {
  background-color: #243763;
  height: 50px;
  position: relative;
  width: 100%;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 24px;
  color: #FF6E31;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  color: #efefef;
  display: inline-block;
  margin-right: 20px;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.nav > .nav-links > a:hover {
  background-color: #182441;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    height: 50px;
    padding: 13px;
    width: 50px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #243763;
  }
  .nav > .nav-btn > label > span {
    border-top: 2px solid #fff;
    display: block;
    height: 10px;
    width: 25px;
  }
  .nav > .nav-links {
    background-color: #243763;
    display: block;
    height: 0px;
    left: 0px;
    overflow-y: hidden;
    position: absolute;
    top: 50px;
    transition: all 0.3s ease-in;
    width: 100%;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

form {
    box-sizing: border-box;
    position: relative;
    display: flex;

    height: 200px;
    width: auto;
    margin: 20px;
    align-items: center;
    background: #FFEBB7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.input_space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.entradaDeDados{
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;

    display: inline-block;
		width: 180px;
    box-sizing: border-box;
    height: 40px;
    position: relative;
    border: none;
    border-radius: 10px;
    color: #000;
}

.btn_salvar{
    box-sizing: border-box;
    position: absolute;

    width:180px;
    height: 45px;
    left: 572px;
    top: 75%;

    font-size: large;
    background: #FFFFFF;
    border: 1px solid #36D000;
    color: #36D000;
    cursor: pointer;
}

.table {
  width: 97%;
  border-collapse: collapse;
  margin: 20px;
}

.table thead {
  background-color: #243763;
  color: #fff;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.btn-editar {
  background-color: yellow;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.btn-excluir {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

footer {
  display: inline;
  font-size: 10px;
  background-color: #243763;
  height: 30px;
  position: fixed;
  width: 100%;
  color: #efefef;
  bottom: 0;
  padding-left: 10px;
}

.linkedin{
  color: #efefef;
}
.linkedin:visited{
  color: #C5C7C5;
}
.linkedin:hover{
  background-color: #182441;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: white;
  border-radius: 0px;
}

html::-webkit-scrollbar-thumb {
  background: #FFEBB7;
  border-radius: 30px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #FFEBB7;
  border-radius: 30px;
}

html::-webkit-scrollbar-thumb:active {
  background: #FFEBB7;
  border-radius: 30px;
}